<% provide(:title, "About") %>

<div class="center jumbotron">
  
  <h1>About the Project!</h1>

  <p>
    Just some placeholder text for now
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>