<% provide(:title, "Cities") %>

<div class="center jumbotron">
  
  <h1>List of Cities</h1>

  <p>
    Here will be our first feature:
    <br> A list of available cities to travel to and compare between.
  </p>

</div>