<% provide(:title, "Countries") %>

<div class="center jumbotron">
  
  <h1>List of Countries</h1>

  <p>
    Here will be our first feature:
    <br> A list of available countries to travel to and compare between.
  </p>

</div>