<% provide(:title, "Home") %>
<h1>Homepage of Sunset Vacations</h1>
<p>
  This will be the homepage of our wonderful travel agency!
  <br> Our main goal is for you, the customer, to find your sunset (:
</p>
