<% provide(:title, "Home") %>

<div class="center jumbotron">
  
  <h1>Homepage of Sunset Vacations</h1>

  <p>
    This will be the homepage of our wonderful travel agency!
    <br> Our main goal is for you, the customer, to find your sunset (:
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>