<% provide(:title, "Packages") %>

<div class="center jumbotron">
  
  <h1>Our Package Deals</h1>

  <p>
    Here will be our third and last feature: 
    <br> a list of package deals that a customer can choose from for their vacation.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>
