<% provide(:title, "Top Tens") %>

<div class="center jumbotron">
  
  <h1>Top 10s (by Category)</h1>

  <p>
    Here will be our second feature: 
    <br> Top 10s of categories graphed by attributes, mostly based on weather.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>