<footer class="footer">
  
  <small class="left">
    Created by: Magni Hansen 
    | ID: 51657715
    | for AWAD (CS2512)
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About the Project", about_path %></li>
      <li><a href="http://rubyonrails.org/">Made in Ruby on Rails</a></li>
    </ul>
  </nav>
  
</footer>